@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "tailwindcss";
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #004aad;
  --color-button: #00a19d;
  --color-link: #949191;
  --color-highlight: #ffc107;
  --color-background: #f5f5f5;
  /* --color-text: #263238; */
  --color-text: #5c5858;
  --color-span: #ff5722;
  --color-border: #e0dcdc;
  --font-poppins: "Poppins", sans-serif;
  --font-nunito: "Nunito", sans-serif;
}
